/* color Section */
.colors {
  margin-top: -3rem;
}
.btnStyle {
  padding: 10px;
  background-color: #000;
  border-radius: 50%;
  margin-left: 1rem;
  margin-top: 1rem;
  border: none;
  outline: none;
  opacity: 0.5;
  cursor: pointer;
}
.btnStyle:hover {
  opacity: 1;
}
.active {
  opacity: 1;
}
.checkStyle {
  color: #fff;
  position: relative;
}
/* Add To Cart Section*/
.AddToCart {
  padding: 8px 14px;
  font-weight: 600;
  color: #fff;
  background-color: rgb(97, 16, 184);
  border-radius: 6px;
  cursor: pointer;
}
