.ServiceContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-bottom: 20px;
}
.serviceCard {
  display: block;
  margin: 10px auto;
  padding: 10px 30px;
  background-color: #d5d4d4;
  border-radius: 6px;
}
.serviceIcon {
  display: block;
  margin: 0px auto;
  height: 40px;
  width: 40px;
  padding: 8px;
  font-size: 25px;
  color: rgb(58, 58, 217);
  background-color: #fff;
  border-radius: 50%;
}
.serviceIcon1 {
  display: block;
  margin: 0px auto;
  margin-top: 30px;
  height: 40px;
  width: 40px;
  padding: 8px;
  font-size: 25px;
  color: rgb(58, 58, 217);
  background-color: #fff;
  border-radius: 50%;
}
.serviceDescription {
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
}

@media all and (min-width: 0px) and (max-width: 800px) {
  .ServiceContainer {
    display: block;
    margin: 0px auto;
    width: 80%;
  }
}
